// src/styles/main.scss

@charset "utf-8";
@use "./theme.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--app-bg-soft);
  color: var(--app-text);
}
